@model IEnumerable<ASPMVCdemo.Models.Product>

@{
    ViewBag.Title = "ShowProducts";
}

<h2>ShowProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { pid=item.Pid}) |
            @Html.ActionLink("Details", "Details", new { pid=item.Pid}) |
            @Html.ActionLink("Delete", "Delete", new { pid=item.Pid })
        </td>
    </tr>
}

</table>
